# Selecting Rows and Columns

In [14]:
#can press "TAB" and you get all functions or inside the () + shift
    # devdocs.io - python modules to get documentation really useful 
    

import pandas as pd

path = 'names/'

# /home/spiced/Desktop/babynames/ (absolut comand)
pd.read_cvs('names/yob2000.txt',
              names/ = ['names', 'gender', 'count']
           )

# another option is 
df.set_index('name', inplace=True)

df.head(5)

SyntaxError: invalid syntax (<ipython-input-14-bcefc4afc249>, line 11)

In [ ]:
# to get information from the data yob2000

df.loc[['Nicolas', 'Paul', 'Helena', 'Tom']]

In [ ]:
# Check if there are more than a number: 

df[df['count'] > 1000]

In [ ]:
one_two = df[df['count'].between(1000, 2000)]
one_two.shape

In [ ]:
freq_boys = df[(df['count'] > 1000) & (df['gender']==)
freq_boys.shape

In [ ]:
b = df['gender'] != 'F'
b.head()

In [ ]:

df.dropna()

In [ ]:

def initial(s):
    returns[0]

In [ ]:
print(initial)

In [ ]:
my_functions = [initial, pd.DataFrame, print, zip]

In [ ]:
df['initial'] = df['name'].apply(initial)
df.set

In [ ]:
df.groupby('initial') ['count'].sum().plot.bar

In [ ]:
ini = df.groupby(['gender', 'initial'])['count'].sum()
topchars = ini.sort_values(ascending=False).head(10)
topchars.plot.bar()

In [ ]:
%matplotlib inline

In [ ]:

birthnames = []
a = 1880
while a <= 2017: # check errors for the year
    fl = str("yob" + str(a) + ".txt")
    bth = pd.read_csv(fl, names=['sex','birthcnt']) #probably need to add the name column
    bth['year'] = a 
    birthnames.append(bth)
    a = a + 1
    
birthnames = pd.concat(birthnames)
birthnames