# Build a movie reviewed

In [2]:
# Write a program that recomends movies from data that you enter.

# Step 1
# Each movie consist of a name, a genre, a rating (1 to 5) and the person who reviewed the movie.

# Ideas

# Create a DataFrame
# Create a database (text file)
# Create a user interface


# Later 

# Collect data from the internet

# Movie

In [3]:
import pandas as pd

path = "/Users/Pippo/Desktop/python_examples/Movie_recomender/"


df = pd.read_excel('movie_recommendations.xlsx')

In [4]:
df

                               Name            Genre  Rating  Reviewer
0                         Inception         Thriller     5.0      Paul
1                           Titanic            drama     4.0  Kristian
2                           Memento         Thriller     5.0    Helena
3                     The Lion King          Cartoon     5.0      Paul
4                         Evil Dead           Horror     4.0       Tom
5           Texas Chainsaw Massacre           Horror     3.0      Paul
6                           Carnage           Comedy     5.0  Matthias
7                           Titanic            drama     4.0  Kristian
8                             Shrek          cartoon     5.0  Kristian
9                      Pulp Fiction            Crime     5.0    Helena
10                     Pulp Fiction              NaN     5.0  Kristian
11             Rocky Horror Picture               ??     4.0    Julian
12                     Run Lola Run     Crime/Drama?     NaN      Paul
13                    The Godfather            Crime     5.0    Felipe
14                        In Bruges      Dark Comedy     5.0      Paul
15                       Metropolis          Fantasy     4.0       Tom
16                           Avatar  Science Fiction     1.0  Matthias
17                    Pacific Rim 2            Kaiju     1.0  Kristian
18       Monster X vs the G7 Summit            Kaiju     1.0  Kristian
19          The Empire Strikes Back  Science Fiction     5.0  Matthias
20             Der unsichtbare Gast          Mystery     5.0    Helena
21         The Silence of the Lambs            Drama     5.0    Felipe
22     Mighty Morphin Power Rangers            Crime     2.0      Paul
23                         The Ring           Horror     3.0      Paul
24                     Big Lebowski           Comedy     5.0       Tom
25                             Lion            Drama     5.0      Paul
26                    Sleepy Hollow            Drama     2.0    Felipe
27  Monty Python and the Holy Grail           comedy     4.0  Kristian
28                      Cloud Atlas           Sci-Fi     5.0   Manohar
29                   Budapest Hotel           Comedy     4.0    Julian
30     Teenage Mutant Ninja Turtles           Comedy     1.0    Helena
31                       Casablanca            Drama     5.0    Glynis
32                      Rear Window         Thriller     5.0    Glynis
33                       Fight Club    Revolutionary     5.0   Manohar
34                 A beautiful mind           Biopic     4.0  Matthias
35                      Kill Bill 1              NaN     2.0    Julian
36               Observe and report           Comedy     1.0   Manohar
37                          Titanic            Farce     1.0       Tom
38                           Grease           Comedy     3.0   Nicolas
39               Lawrence of Arabia        Adventure     1.0    Felipe
40                        Mamma Mia          Musical     1.0   Manohar
41                        Mamma Mia          Musical     2.0       Tom
42               Gone with the Wind            Drama     3.0    Felipe
43               The Imitation Game            Drama     5.0      Paul
44                   Ready Player 1              NaN     1.0    Julian
45                           Brazil    Revolutionary     3.0  Kristian
46                Good Will Hunting            Drama     4.0  Matthias
47                        Citizen 4     Data Science     5.0  Kristian
48                       Ex Machina           Sci-Fi     4.0   Manohar
49                              NaN              NaN     NaN       NaN
50            2001: A space odyssey           Sci-Fi     5.0  Matthias
51                              NaN              NaN     NaN       NaN
52                        Moneyball     Data Science     3.0  Kristian
53                     12 Angry Men            Drama     1.0    Felipe
54                        Star Wars  Science fiction     NaN   Nicolas
55                       Adaptation            Drama     4.0   Manohar
56                       12 Monkeys           Sci-Fi     4.0    Helena
57                              NaN              NaN     NaN       NaN
58                             Dune           Sci-Fi     5.0      Nick
59                   Imitation Game     Data Science     3.0  Kristian

In [5]:

df.sort_values('Rating', ascending=False).head(1)

        Name     Genre  Rating Reviewer
0  Inception  Thriller     5.0     Paul

In [6]:
df.sort_values('Rating', ascending=False).head(5)

                       Name            Genre  Rating  Reviewer
0                 Inception         Thriller     5.0      Paul
19  The Empire Strikes Back  Science Fiction     5.0  Matthias
58                     Dune           Sci-Fi     5.0      Nick
50    2001: A space odyssey           Sci-Fi     5.0  Matthias
47                Citizen 4     Data Science     5.0  Kristian

In [7]:

df.sort_values('Rating', ascending=False, inplace=True)
print(df.head(5).sample(1))

    Name   Genre  Rating Reviewer
58  Dune  Sci-Fi     5.0     Nick

In [8]:
df.head(3)

                       Name            Genre  Rating  Reviewer
0                 Inception         Thriller     5.0      Paul
19  The Empire Strikes Back  Science Fiction     5.0  Matthias
58                     Dune           Sci-Fi     5.0      Nick

In [9]:
df.head(10)

                       Name            Genre  Rating  Reviewer
0                 Inception         Thriller     5.0      Paul
19  The Empire Strikes Back  Science Fiction     5.0  Matthias
58                     Dune           Sci-Fi     5.0      Nick
50    2001: A space odyssey           Sci-Fi     5.0  Matthias
47                Citizen 4     Data Science     5.0  Kristian
43       The Imitation Game            Drama     5.0      Paul
33               Fight Club    Revolutionary     5.0   Manohar
32              Rear Window         Thriller     5.0    Glynis
31               Casablanca            Drama     5.0    Glynis
25                     Lion            Drama     5.0      Paul

In [10]:
# produce clean unique index
df.sort_values(by=['Name', 'Genre', 'Reviewer'], inplace=True)
clean = df.drop_duplicates().dropna()

In [11]:
df

                               Name            Genre  Rating  Reviewer
53                     12 Angry Men            Drama     1.0    Felipe
56                       12 Monkeys           Sci-Fi     4.0    Helena
50            2001: A space odyssey           Sci-Fi     5.0  Matthias
34                 A beautiful mind           Biopic     4.0  Matthias
55                       Adaptation            Drama     4.0   Manohar
16                           Avatar  Science Fiction     1.0  Matthias
24                     Big Lebowski           Comedy     5.0       Tom
45                           Brazil    Revolutionary     3.0  Kristian
29                   Budapest Hotel           Comedy     4.0    Julian
6                           Carnage           Comedy     5.0  Matthias
31                       Casablanca            Drama     5.0    Glynis
47                        Citizen 4     Data Science     5.0  Kristian
28                      Cloud Atlas           Sci-Fi     5.0   Manohar
20             Der unsichtbare Gast          Mystery     5.0    Helena
58                             Dune           Sci-Fi     5.0      Nick
4                         Evil Dead           Horror     4.0       Tom
48                       Ex Machina           Sci-Fi     4.0   Manohar
33                       Fight Club    Revolutionary     5.0   Manohar
42               Gone with the Wind            Drama     3.0    Felipe
46                Good Will Hunting            Drama     4.0  Matthias
38                           Grease           Comedy     3.0   Nicolas
59                   Imitation Game     Data Science     3.0  Kristian
14                        In Bruges      Dark Comedy     5.0      Paul
0                         Inception         Thriller     5.0      Paul
35                      Kill Bill 1              NaN     2.0    Julian
39               Lawrence of Arabia        Adventure     1.0    Felipe
25                             Lion            Drama     5.0      Paul
40                        Mamma Mia          Musical     1.0   Manohar
41                        Mamma Mia          Musical     2.0       Tom
2                           Memento         Thriller     5.0    Helena
15                       Metropolis          Fantasy     4.0       Tom
22     Mighty Morphin Power Rangers            Crime     2.0      Paul
52                        Moneyball     Data Science     3.0  Kristian
18       Monster X vs the G7 Summit            Kaiju     1.0  Kristian
27  Monty Python and the Holy Grail           comedy     4.0  Kristian
36               Observe and report           Comedy     1.0   Manohar
17                    Pacific Rim 2            Kaiju     1.0  Kristian
9                      Pulp Fiction            Crime     5.0    Helena
10                     Pulp Fiction              NaN     5.0  Kristian
44                   Ready Player 1              NaN     1.0    Julian
32                      Rear Window         Thriller     5.0    Glynis
11             Rocky Horror Picture               ??     4.0    Julian
12                     Run Lola Run     Crime/Drama?     NaN      Paul
8                             Shrek          cartoon     5.0  Kristian
26                    Sleepy Hollow            Drama     2.0    Felipe
54                        Star Wars  Science fiction     NaN   Nicolas
30     Teenage Mutant Ninja Turtles           Comedy     1.0    Helena
5           Texas Chainsaw Massacre           Horror     3.0      Paul
19          The Empire Strikes Back  Science Fiction     5.0  Matthias
13                    The Godfather            Crime     5.0    Felipe
43               The Imitation Game            Drama     5.0      Paul
3                     The Lion King          Cartoon     5.0      Paul
23                         The Ring           Horror     3.0      Paul
21         The Silence of the Lambs            Drama     5.0    Felipe
37                          Titanic            Farce     1.0       Tom
7                           Titanic            drama     4.0  Kristian
1                           Titanic            drama     4.0  Kristian
49                              NaN              NaN     NaN       NaN
51                              NaN              NaN     NaN       NaN
57                              NaN              NaN     NaN       NaN

In [12]:
long = clean.set_index(['Name', 'Genre', 'Reviewer'])

In [13]:
long

                                                          Rating
Name                            Genre           Reviewer
12 Angry Men                    Drama           Felipe       1.0
12 Monkeys                      Sci-Fi          Helena       4.0
2001: A space odyssey           Sci-Fi          Matthias     5.0
A beautiful mind                Biopic          Matthias     4.0
Adaptation                      Drama           Manohar      4.0
Avatar                          Science Fiction Matthias     1.0
Big Lebowski                    Comedy          Tom          5.0
Brazil                          Revolutionary   Kristian     3.0
Budapest Hotel                  Comedy          Julian       4.0
Carnage                         Comedy          Matthias     5.0
Casablanca                      Drama           Glynis       5.0
Citizen 4                       Data Science    Kristian     5.0
Cloud Atlas                     Sci-Fi          Manohar      5.0
Der unsichtbare Gast            Mystery         Helena       5.0
Dune                            Sci-Fi          Nick         5.0
Evil Dead                       Horror          Tom          4.0
Ex Machina                      Sci-Fi          Manohar      4.0
Fight Club                      Revolutionary   Manohar      5.0
Gone with the Wind              Drama           Felipe       3.0
Good Will Hunting               Drama           Matthias     4.0
Grease                          Comedy          Nicolas      3.0
Imitation Game                  Data Science    Kristian     3.0
In Bruges                       Dark Comedy     Paul         5.0
Inception                       Thriller        Paul         5.0
Lawrence of Arabia              Adventure       Felipe       1.0
Lion                            Drama           Paul         5.0
Mamma Mia                       Musical         Manohar      1.0
                                                Tom          2.0
Memento                         Thriller        Helena       5.0
Metropolis                      Fantasy         Tom          4.0
Mighty Morphin Power Rangers    Crime           Paul         2.0
Moneyball                       Data Science    Kristian     3.0
Monster X vs the G7 Summit      Kaiju           Kristian     1.0
Monty Python and the Holy Grail comedy          Kristian     4.0
Observe and report              Comedy          Manohar      1.0
Pacific Rim 2                   Kaiju           Kristian     1.0
Pulp Fiction                    Crime           Helena       5.0
Rear Window                     Thriller        Glynis       5.0
Rocky Horror Picture            ??              Julian       4.0
Shrek                           cartoon         Kristian     5.0
Sleepy Hollow                   Drama           Felipe       2.0
Teenage Mutant Ninja Turtles    Comedy          Helena       1.0
Texas Chainsaw Massacre         Horror          Paul         3.0
The Empire Strikes Back         Science Fiction Matthias     5.0
The Godfather                   Crime           Felipe       5.0
The Imitation Game              Drama           Paul         5.0
The Lion King                   Cartoon         Paul         5.0
The Ring                        Horror          Paul         3.0
The Silence of the Lambs        Drama           Felipe       5.0
Titanic                         Farce           Tom          1.0
                                drama           Kristian     4.0

In [14]:

# mean rating per genre
print(long.unstack(1).mean())

        Genre
Rating  ??                 4.000000
        Adventure          1.000000
        Biopic             4.000000
        Cartoon            5.000000
        Comedy             3.166667
        Crime              4.000000
        Dark Comedy        5.000000
        Data Science       3.666667
        Drama              3.777778
        Fantasy            4.000000
        Farce              1.000000
        Horror             3.333333
        Kaiju              1.000000
        Musical            1.500000
        Mystery            5.000000
        Revolutionary      4.000000
        Sci-Fi             4.600000
        Science Fiction    3.000000
        Thriller           5.000000
        cartoon            5.000000
        comedy             4.000000
        drama              4.000000
dtype: float64

In [15]:

print('Enter a genre (or leave it empty): ', end='')
genre = input()

if genre:
    g = df[df['Genre'] == genre]
else: 
    g = df
    
result = g.sort_values('Rating', ascending=False)
print(result.head(3).sample(1))

Enter a genre (or leave it empty): drama
      Name  Genre  Rating  Reviewer
1  Titanic  drama     4.0  Kristian

In [16]:
print("Enter a rating number 1 - 5 (or leave it empty): ", end="")
rating = float(input())

if rating:
    r = df[df['Rating'] == rating]
else:
    r = df
    
print("Enter a reviewer (or leave it empty): ", end="")
reviewer = input()

if reviewer:
    re = r[r['Reviewer'] == reviewer]
else:
    re = r

print("Enter a genre (or leave it empty): ", end="")
genre = input()

if genre:
    g = re[re['Genre'] == genre]
else:
    g = re


if g.shape[0] > 0:
    result = g.sort_values('Rating', ascending=False)
    print(result.head(3).sample(1))
else:
    print("Sorry, no results!")

Enter a rating number 1 - 5 (or leave it empty): 1
Enter a reviewer (or leave it empty): Drama
Enter a genre (or leave it empty): Paul
Sorry, no results!