In [1]:
import pandas as pd
import numpy as np

PATH = "movie_recommendations.xlsx"

df = pd.read_excel(PATH)

# produce clean unique index
df.sort_values(by=['Name', 'Genre', 'Reviewer'], inplace=True)
clean = df.drop_duplicates().dropna()
df['Genre'] = df['Genre'].str.lower()


long = df.groupby(['Genre', 'Reviewer'])['Rating'].mean()

wide = long.unstack(0)
wide.fillna(0.0, inplace=True)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57 entries, 53 to 51
Data columns (total 4 columns):
Name        55 non-null object
Genre       52 non-null object
Rating      53 non-null float64
Reviewer    55 non-null object
dtypes: float64(1), object(3)
memory usage: 2.2+ KB

In [3]:
df.head()

                     Name   Genre  Rating  Reviewer
53           12 Angry Men   drama     1.0    Felipe
56             12 Monkeys  sci-fi     4.0    Helena
50  2001: A space odyssey  sci-fi     5.0  Matthias
34       A beautiful mind  biopic     4.0  Matthias
55             Adaptation   drama     4.0   Manohar

In [4]:
long

Genre            Reviewer
??               Julian      4.00
adventure        Felipe      1.00
biopic           Matthias    4.00
cartoon          Kristian    5.00
                 Paul        5.00
comedy           Helena      1.00
                 Julian      4.00
                 Kristian    4.00
                 Manohar     1.00
                 Matthias    5.00
                 Nicolas     3.00
                 Tom         5.00
crime            Felipe      5.00
                 Helena      5.00
                 Paul        2.00
crime/drama?     Paul         NaN
dark comedy      Paul        5.00
data science     Kristian    4.00
drama            Felipe      2.75
                 Glynis      5.00
                 Kristian    4.00
                 Manohar     4.00
                 Matthias    4.00
                 Paul        5.00
fantasy          Tom         4.00
farce            Tom         1.00
horror           Paul        3.00
                 Tom         4.00
kaiju            Kristian    1.00
musical          Manohar     1.00
                 Tom         2.00
mystery          Helena      5.00
revolutionary    Kristian    3.00
                 Manohar     5.00
sci-fi           Helena      4.00
                 Manohar     4.50
                 Matthias    5.00
science fiction  Matthias    3.00
                 Nicolas      NaN
thriller         Glynis      5.00
                 Helena      5.00
                 Paul        5.00
Name: Rating, dtype: float64

In [5]:
wide

Genre,??,adventure,biopic,cartoon,comedy,crime,crime/drama?,dark comedy,data science,drama,fantasy,farce,horror,kaiju,musical,mystery,revolutionary,sci-fi,science fiction,thriller
Reviewer,,,,,,,,,,,,,,,,,,,,
Felipe,0.0,1.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,2.75,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Glynis,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
Helena,0.0,0.0,0.0,0.0,1.0,5.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,5.0,0.0,4.0,0.0,5.0
Julian,4.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Kristian,0.0,0.0,0.0,5.0,4.0,0.0,0.0,0.0,4.0,4.00,0.0,0.0,0.0,1.0,0.0,0.0,3.0,0.0,0.0,0.0
Manohar,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,4.00,0.0,0.0,0.0,0.0,1.0,0.0,5.0,4.5,0.0,0.0
Matthias,0.0,0.0,4.0,0.0,5.0,0.0,0.0,0.0,0.0,4.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,3.0,0.0
Nicolas,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Paul,0.0,0.0,0.0,5.0,0.0,2.0,0.0,5.0,0.0,5.00,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
Tom,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.00,4.0,1.0,4.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0

In [6]:
names = list(wide.index)

In [8]:

# 1. print names + numbers
for n1 in names:
    for n2 in names:
        c = cosim(wide.loc[n1], wide.loc[n2])
        print(n1, n2, c)

NameError: name 'cosim' is not defined

In [10]:
# 2. collect numbers in a list
result = []
for n1 in names:
    for n2 in names:
        c = cosim(wide.loc[n1], wide.loc[n2])
        result.append(c)

NameError: name 'cosim' is not defined

In [9]:
# 3. collect tuples, convert to DF
for n1 in names:
    for n2 in names:
        c = cosim(wide.loc[n1], wide.loc[n2])
        result.append((n1, n2, c))

NameError: name 'cosim' is not defined

In [ ]:
import pandas as pd

df = pd.DataFrame(result)
df2 = df.set_index([0, 1])
df3 = df2.unstack(1)

In [11]:
# 4. create list, convert to np.array
result = []
for n1 in names:
    for n2 in names:
        c = cosim(wide.loc[n1], wide.loc[n2])
        result.append(c)

NameError: name 'cosim' is not defined

In [ ]:
import numpy as np

a = np.array(result)
a = a.reshape((10, 10))

df4 = pd.DataFrame(a, index=names, columns=names)

df4.round(2) # nice!

In [12]:
# 5. nested list
result = []
for n1 in names:
    row = []
    for n2 in names:
        c = cosim(wide.loc[n1], wide.loc[n2])
        row.append(c)
    result.append(row)

df5 = pd.DataFrame(result, index=names, columns=names)

NameError: name 'cosim' is not defined

In [13]:
# 6. fill an empty DF
df6 = pd.DataFrame(index=names, columns=names)
for n1 in names:
    for n2 in names:
        c = cosim(wide.loc[n1], wide.loc[n2])
        df6[n1][n2] = c

NameError: name 'cosim' is not defined

In [14]:
# 7. use function in sklearn
from sklearn.metrics.pairwise import cosine_similarity
cosine_similarity(wide)

array([[1.        , 0.33565301, 0.44990306, 0.        , 0.20841381,
        0.23874554, 0.19904205, 0.        , 0.38565347, 0.        ],
       [0.33565301, 1.        , 0.36860489, 0.        , 0.31046021,
        0.35564338, 0.29649973, 0.        , 0.66519011, 0.        ],
       [0.44990306, 0.36860489, 1.        , 0.07372098, 0.04577486,
        0.24907459, 0.27322812, 0.10425721, 0.34326926, 0.06620339],
       [0.        , 0.        , 0.07372098, 1.        , 0.31046021,
        0.08891084, 0.37062466, 0.70710678, 0.        , 0.44901326],
       [0.20841381, 0.31046021, 0.04577486, 0.31046021, 1.        ,
        0.48305739, 0.41423115, 0.43905704, 0.46465888, 0.2788015 ],
       [0.23874554, 0.35564338, 0.24907459, 0.08891084, 0.48305739,
        1.        , 0.5733744 , 0.12573892, 0.23657046, 0.11178201],
       [0.19904205, 0.29649973, 0.27322812, 0.37062466, 0.41423115,
        0.5733744 , 1.        , 0.52414242, 0.19722868, 0.33283077],
       [0.        , 0.        , 0.10425721, 0.70710678, 0.43905704,
        0.12573892, 0.52414242, 1.        , 0.        , 0.63500064],
       [0.38565347, 0.66519011, 0.34326926, 0.        , 0.46465888,
        0.23657046, 0.19722868, 0.        , 1.        , 0.143366  ],
       [0.        , 0.        , 0.06620339, 0.44901326, 0.2788015 ,
        0.11178201, 0.33283077, 0.63500064, 0.143366  , 1.        ]])

In [15]:
# 8. plot
import seaborn as sns
from matplotlib import pyplot as plt

sns.heatmap(df5, annot=True)
plt.show()

NameError: name 'df5' is not defined

In [ ]:
def cosim(x, y):
    num = 0.0
    for genre in x.index:
        num += x[genre] * y[genre]
    xsum = math.sqrt(sum(x ** 2))
    ysum = math.sqrt(sum(y ** 2))
    denom = xsum * ysum
    return num / demon


kristian = wide.loc['Kristian']
mano = wide.loc['Manohar']
print(cosim(kristian, mano))